@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    border-radius: 0 !important;
}

.inicio {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("cinema.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 10rem;
}